ul {
  display: flex;
  justify-content: end;
  width: 100%;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff !important;
  outline: none;
}

a:hover {
  border-bottom: 2px solid rgb(197, 32, 32);
}

span {
  margin: 0 10px;
}