.title-carousel {
  font-family: 'Square Peg';
  font-size: 36pt;
  font-weight: bolder;
  text-align: center;
  color: rgb(173, 173, 173);
}

@media screen and (max-width: 530px) {
  .title-carousel {
    font-size: 1.6rem;
  }
  .actions-card a {
    font-size: .6rem !important; 
  }
}

@media screen and (min-width: 1024px) {
  .title-carousel {
    font-size: 5rem;
  }
}
